:root {
  --white: #ffffff;
  --dark-grey: #37465d;
  --black: #081d31;
  --cold-grey: #2e3c49;
  --light-sky-blue: #d3e2f9;
  --dark-sky-blue: #89a6d4;
  --deep-blue: #1968d2;
  --success-green: #00ae71;
}
